*{
  background-color: #282c34; 
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: #ffffff;
  border: none;
}
div{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
li{
  color: goldenrod;
}
img{
  width: 340px;
  height: 250px;
  justify-content: center;
  align-items: center;

}